*{
    ;
    margin:0;
    padding:0;
    font-family: ;
}
header{
    
    height: 100vh;
    background-size: cover;
    background-position: center;
}
h2{
    margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;  
  color: #66BFBF;
  line-height: 1;
 
  text-align: center;
}

ul{
    float:right;
    list-style-type:none ;
    padding-top: 10px;
}
ul li{
    display: inline-block;
}
ul li a{
    color: #66BFBF;
    font-family: sans-serif;
    font-weight: 100;
    padding: 5px 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-left: 30px;
    border: 1px solid #fff;
    transition: 0.6s ease;
    border-radius :10%;;
}
ul li a:hover{
    background-color: #66BFBF;
    color:#fff ;

}
.nav-bar{
    padding left:100px;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
    }
.main{
    max-width: 1200px;
    margin: auto;
}
.flex-container{
    
    padding: 150px;
    padding-top: 0px;
    border: 1px  solid #ffacb7;
    border-right: 0px;
    border-left: 0px;
    transition: 0.6s ease;
    line-height: 1;
    
}
.title{
    background-color: #ffacb7;
    padding-top: 10px;
}


.cloud-1{
        position: absolute;
        right: 200px;
        top: 250px;
}
.cloud-2{
    position: absolute;
    left: 200px;
    top: 250px;
}
.mount-img{
widows: 100px;
height: 450px;
}
